[flake8]
# relaxed line length
max-line-length = 99

# ignore rules
per-file-ignores =
  test/*: S101

# exclude patterns
extend-exclude =
  .coverage
  .mypy_cache
  .pytest_cache
  .tox
  .venv
  .vscode
  artifacts
  dist
  doc
